# =========================
# Ambiente virtual Python
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Arquivos de dados
# =========================
data/*
!data/logs/
!data/logs/*.bin

# Arquivos .bin de teste
tests/voos_sinteticos/*.bin

# Cache dos dados
data/cache/

# =========================
# Cache do Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Configurações do VS Code
# =========================
.vscode/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Arquivos de sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp